<table class="table">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Games Played</th>
            <th>Points</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>FG%</th>
            <th>FT%</th>
            <th>3PT%</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Minutes</th>
            <th>Fouls</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td class="text-center">Kobe Bryant</td>
          <td class="text-center">82</td>
          <td class="text-center">35.4</td>
          <td class="text-center">6</td>
          <td class="text-center">2</td>
          <td class="text-center">45%</td>
          <td class="text-center">84%</td>
          <td class="text-center">39%</td>
          <td class="text-center">2.0</td>
          <td class="text-center">1</td>
          <td class="text-center">39.8</td>
          <td class="text-center">3.4</td>
        </tr> 
         <tr>
          <td class="text-center">Kobe Bryant</td>
          <td class="text-center">82</td>
          <td class="text-center">35.4</td>
          <td class="text-center">6</td>
          <td class="text-center">2</td>
          <td class="text-center">45%</td>
          <td class="text-center">84%</td>
          <td class="text-center">39%</td>
          <td class="text-center">2.0</td>
          <td class="text-center">1</td>
          <td class="text-center">39.8</td>
          <td class="text-center">3.4</td>
        </tr> 
    </tbody>
</table>